@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: #3257c8;
    --color-primary-hover: #3257e2;
    --color-primary-light: #6585e7;
    --color-primary-lighter: #ebf0fc;
    --color-primary-dark: #1f3c93;
    --color-knowledge: #7857db;
    --color-accent: #a78bfa;
    --color-info: #2563eb;
    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-error: #dc2626;
    --color-background: #f9f9fb;
    --color-foreground: #21242c;
    --color-muted: #f2f4f7;
    --color-muted-foreground: #737b8c;
    --color-border: #dadfe7;
  
    /* Font Families */
    --font-sans: 'Inter', sans-serif; /* Define font-sans as 'Inter' */
    --font-serif: 'Merriweather', serif; /* Define font-serif as 'Merriweather' */
    --font-mono: 'Fira Code', monospace; /* Define font-mono as 'Fira Code' */

    /* Font Wights */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Adjust as needed */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #818181; /* gray-600 */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #c4c4c4; /* gray-300 */
  }
